{% extends "emails/base.html" %}

{% block content %}
<p class="greeting">Hello {{ user.username }},</p>

<h2>Password Reset Request</h2>

<p>We received a request to reset the password for your ComraidShops account.</p>

<p>Please use the link below to set up a new password. If you didn't make this request, you can safely ignore this email.</p>

<div class="btn-container">
    <a href="{{ reset_url }}" class="btn">Reset Password</a>
</div>

<p>This link will expire in 24 hours.</p>

<p>Best regards,<br>The ComraidShops Team</p>
{% endblock %}
